
html,body{height: 100%; width: 100%;}

html { /*375*/
    font-family: -apple-system-font, Helvetica Neue, sans-serif;
    font-size: 17px!important;
}
@media only screen and ( min-width:300px ) and (max-width: 321px) {
    html {
        font-size:13.5px !important
    }
}

@media only screen and (min-width:376px)and ( max-width: 414px) {
    html {
        font-size: 18.768px !important
    }
}

.hide_title{ display: none}

@media only screen and (min-width:414px) and ( max-width: 481px) {
    html {
        font-size: 19.56px !important
    }
}
@media only screen and (min-width:481px) and ( max-width: 561px) {
    html {
        font-size: 25.432px !important
    }
}

@media only screen and (min-width:561px) and ( max-width: 640px) {
    html {
        font-size: 29.01333333333333px !important
    }
}
@media only screen and (min-width:640px) and ( max-width: 750px) {
    html {
        font-size: 34px !important
    }
}

@media only screen and (min-width:750px) and ( max-width: 1242px) {
    html {
        font-size: 34px !important
    }
}


img[src=""],img:not([src]){opacity:0;}
*:not(input,textarea){
    -webkit-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input,textarea{  -webkit-appearance:none;  outline: 0;    resize: none;}


.active:active{ background: #ECECEC !important}


.heartUp {
    -webkit-animation: heart 0.1s linear;
    -moz-animation: heart 0.1s linear;
    -ms-animation: heart 0.1s linear;
    -o-animation: heart 0.1s linear;
    animation: heart 0.1s linear;
}

@-webkit-keyframes heart {
    from {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
}
@keyframes heart {
    from {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
    }
}




/*文本输入*/
.comment_box .placeholder{ font-size: 14px; color:#999; line-height: 32px; width: 60%; overflow: hidden; position: absolute; top:4px; left:15px; z-index: 20}
.comment_box{
    width: 100%;
    background: #f5f5f5;
    position: fixed;
    left: 0;
    z-index: 10000;
    border-top:1px solid #ccc;
}
.comment_header{
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    padding:0 15px;
}
.comment_box .cancel{
    margin-left: 3px;
    color: #333333;
    float: left;
}
.comment_p{
    color: #999;
    font-size:13px;
    line-height: 26px;
    position: absolute;
    left:10px;
    width: 50px;
}
.comment_box .release{
    position: absolute;
    right: 5px;
    width:60px ;
    height: 30px ;
    font-size: 13px;
    border-radius: 3px;
    background: #94db93  ;
    border:1px solid #91cc91;
    line-height: 30px;
    text-align: center;
    color:#fff;
    top: 50%;
    margin-top: -16px;

}
.comment_box .box{
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin:6px;
    padding: 5px 0 ;
    width: 75%;padding-left: 6px;
    position: relative;
    background: #ffffff;
    font-size: 0;

}
.comment_box .comment_text{

    border-radius: 4px;
    outline: none;
    min-height: 20px;height: 20px;
    background: #ffffff;
    max-height: 60px;
    overflow-y: auto;
    font-size: 16px;
    line-height: 20px;
    width: 100%;

     border: none;
}
.comment_box.addactive{
    /*animation: addheight .2s linear;*/
    bottom: 0;
}
.comment_box.subactive{
    /*animation: subheight .2s linear;*/
}
@keyframes addheight
{
    from {bottom: -186px;}
    to {bottom: 0;}
}

@-moz-keyframes addheight /* Firefox */
{
    from {bottom: -186px;}
    to {bottom: 0;}
}

@-webkit-keyframes addheight /* Safari 和 Chrome */
{
    from {bottom: -186px;}
    to {bottom: 0;}
}

@-o-keyframes addheight /* Opera */
{
    from {bottom: -186px;}
    to {bottom: 0;}
}

@keyframes subheight
{
    from {bottom: 0;}
    to {bottom: -186px;}
}

@-moz-keyframes subheight /* Firefox */
{
    from {bottom: 0;}
    to {bottom: -186px;}
}

@-webkit-keyframes subheight /* Safari 和 Chrome */
{
    from {bottom: 0;}
    to {bottom: -186px;}
}

@-o-keyframes subheight /* Opera */
{
    from {bottom: 0;}
    to {bottom: -186px;}
}
input { border: 0}
li{list-style: none}









.actionSheet_wrap .doAction{
    font-size: 16px;
    color: red;
}
.actionSheet_wrap .weui-actionsheet__title-text{
    color: #999;
    font-size: 13px;
    height: 40px;

}

a{
    -webkit-touch-callout: none;
}


.weui-mask{ -webkit-tap-highlight-color: rgba(0,0,0,0)}
.weui-toast{
    height:6.48rem !important;
    width:6.48rem !important;
    min-height: 0 !important;
    background:rgba(0, 0, 0, 0.5) !important;
    top:50% !important;
    margin-top: -3.24rem !important;
    margin-left: -3.24rem !important;
}

.weui-icon_toast.weui-icon-success-no-circle:before{
    font-size: 2.823rem !important;
}
.weui-toast__content{
    font-size: 13px !important;
    line-height: 14px !important;

}
.weui-icon_toast.weui-loading{
    width: 2.3529rem !important;
    height: 2.3529rem !important;
    margin-top: 1.529rem !important;
    margin-bottom: 1.176rem !important;
    vertical-align:middle !important;
}
.weui-icon-success-no-circle{
    margin-top: 1.176rem !important;
    margin-bottom: 0.8235rem !important;
}

.share{

    line-height: 40px;
    height: 40px;
    font-size: 14px;
    margin: 25px 15px 30px 15px;
    color: #696969;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
}

.weui_tip{ position: absolute; top:50%; margin-top: -14px; line-height: 28px !important; z-index: 10010; background:rgba(0,0,0,0.8); border-radius: 10px; font-size: 13px; color:#fff; left:50%; padding: 0 10px;}

.clear{ clear: both;}


/*专家列表*/
.answer_list .item{ background: #fff; padding:0.8823529411764706rem; margin-top:0.5882352941176471rem; }
.answer_list .item .img{ width: 3.764705882352941rem; height: 3.764705882352941rem; float:left; }
.answer_list .item .img img{ width: 100%; height: 100%; border-radius: 50%}
.answer_list .info{ float:left; margin-left:0.8823529411764706rem;line-height: 1; }
.answer_list .info .title{ font-size: 0.8823529411764706rem; font-weight: bold; color:#333; margin-bottom: 0.7058823529411765rem;; width: 14.11764705882353rem; ;line-height: 1.5}
.answer_list .info .address{ font-size: 0.7058823529411765rem; margin-bottom: 0.7058823529411765rem;color:#333; ; }
.answer_list .info .address span { display: inline-block; margin-right: 10px; color:#333;    }
.answer_list .info .class_s { clear: both; margin-top: 0.3rem;}
.answer_list .info .class_s span{ display: block; float:left; text-align: center; border-radius:0.6176470588235294rem;  height: 1.235294117647059rem; line-height: 1.235294117647059rem;  border: 1px solid #EAE9E9; color:#999; font-size: 0.7058823529411765rem; padding: 0 0.7rem; margin-right:0.55rem;}
.answer_list .info .other{ font-size: 0.7058823529411765rem;;color:#7F8288; margin-top: 0.7058823529411765rem; }
.answer_list .info .other .price{ color:#FF6600}
.answer_list .info .other .ml{ margin-left:0.8rem; }
 .audio{ margin-top: 0.8rem; margin-bottom: 0.3rem;}
 .audio .audio_btn{   width:70%; float:left; position: relative;
    height:2.4rem; line-height: 2.4rem;
    background:rgba(0,184,230,1);
    border-radius: 1.2rem ; text-align: center; color:#fff;  }
 .audio .audio_btn:active{ background: rgb(0, 138, 182);
}
.audio .audio_btn:before{ width: 0.6764705882352941rem; position: absolute;
    content:" "; display: block; height: 0.97rem; background: url(/dist/sond.png); background-size: 0.6764705882352941rem;  top:0.6rem; left:0.8rem;}
.audio .minute{ color:#999; font-size: 1rem; margin-left: 0.8rem; float:left; line-height: 2.4rem;}
.audio .audio_btn:after{
    content:" "; display: block;position: absolute; bottom:-0.6rem;left:0.9rem;
    width: 0;
    height: 0;
    border-top: 0.6764705882352941rem solid #00B8E6;
    border-right: 0.6764705882352941rem solid transparent;
}
.audio .audio_btn:active:after{
    border-top: 0.6764705882352941rem solid rgb(0, 138, 182);}


.nothing{ padding-top: 6.5rem ;color:#B3B3B3; text-align: center; width: 100%; font-size: 0.7647058823529412rem; position: absolute;
    top: 50%; margin-top: -9rem;}
.wbg{ background: #fff !important}
.top_tip{ background: #F4F4F7;text-align: center; line-height:2.588235294117647rem; font-size:0.8823529411764706rem;  color:#999  }

.arrow:after{background: url(/dist/arrow.png) ; width: 0.9411764705882353rem; height: 0.9411764705882353rem; background-size: 0.9411764705882353rem; position: absolute;
    right:0.88235rem;top:50% ; margin-top:-0.4705882352941177rem;content: " "}
/*专家头像及个人描述*/
.steal_expert_info{
    border-top: 1px solid #eee;
    background: #fff;
    position: relative;
    padding:15px;
}
.steal_expert_info div:nth-of-type(1){
    height:20px;
    line-height: 20px;
}
.steal_expert_info img{
    height:30px;
    width:30px;
    display: block;
    position: absolute;
    right:15px;
    top:50%;
    margin-top:-15px;
}
.steal_expert_name{
    color: #333;
    font-size: 18px;
    margin-right: 12px;
    float: left;
}
.steal_expert_fans{
    color: #999;
    font-size: 13px;
    float: left;
}
.steal_expert_des{
    width:85%;
    color: #767474;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1;
    padding-top: 8px;
}
/*一对一、抢答问题描述详情*/
.my_problem_detail{
    background: #fff;
}
.problem_detail_header{
    padding:1.176rem 0.88235rem 0 0.88235rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    color: #666;
    font-size: 0.7647rem;
    position: relative;
    margin-bottom: 0.88235rem;
}
.problem_detail_header>div:nth-of-type(1){
    color: #333;
    margin-left: 0.588235rem;
}
.problem_detail_header>div:nth-of-type(2){
    color: #FF9900;
    position: absolute;
    right:0.88235rem;
}
.problem_detail_content{
    padding:0 0.88235rem;
    color: #333;
    font-size: 0.88235rem;
    line-height: 1.235294rem;
    margin-bottom: 0.88235rem;
}
/*底部 信息展示 听过 点赞*/
.problem_answer_bottom{
    color: #999;
    font-size: 0.70588rem;
    height: 0.941176rem;
    line-height: 0.941176rem;
    margin-bottom: 0.588235rem;
    padding:0 0.88235rem;
}
.problem_answer_time{
    float: left;
}
.problem_answer_zan{
    float: right;
}
.problem_answer_zan div{
    float: left;
    margin-left: 1.176471rem;
}
.problem_answer_zan img{
    display: inline-block;
    width: 0.941176rem;
    margin-right: 5px;
    float: left;
}
.problem_answer_zan span{
    float: left;
    margin-top:1px;
}
/* 弹出框 解答须知*/
.myask_know_box{
    padding-top: 1.1176471rem;
    text-align: left;
    color: #666;
    font-size:0.8235rem;
    line-height: 1.176471rem;
}
.myask_know_box h3{
    text-align: center;
    margin-bottom: 0.88235rem;
}
.myask_know_box li{
    padding: 0 0.88235rem;
    margin-bottom: 0.588235rem;
}
.myask_know_box b{
    color: #333;
}
.myask_class{
    width:16.470588rem;
    text-align: center;
    padding-top: 1.88235rem;
    background: #fff;
    color: #999;
    font-size: 0.70588rem;
    border-radius: 5px;
    position: absolute;
    top:30%;
    left:50%;
    margin-left: -8.235294rem;
    overflow: hidden;
}
.myask_class h3{
    font-size:1.0588235rem;
    font-family:PingFangSC-Regular;
    color:rgba(51,51,51,1);
    line-height:1;
    margin-bottom: 2rem;
}
.myask_class_true{
    font-size: 1.0588235rem;
    height:2.941176rem;
    line-height: 2.941176rem;
    color: #09bb07;
    text-align: center;
    border-top: 1px solid #eee;
}
.myask_class_true:active{
    background: #ccc;
}
.myask_class_box .myask_class_listactive{
    border-color: #09bb07;
    color: #09bb07;
}

